<div style="float:left;width:40%;">
	
	<button (click)="goBack()">vorige pagina</button>
	<br/>

	<h2>Defecten voor: {{ place?.name }}</h2>
	<ul class="defects" *ngIf="defects; else showNoDefects">
		<li *ngFor="let defect of defects" [class.active]="defect == selectedDefect" (click)="onSelect(defect)">
			<span *ngIf="defect.status==1" class="dot" style="background-color:red;">{{defect.severity + 1}}</span>
			<span *ngIf="defect.status==2" class="dot" style="background-color:orange;">{{defect.severity + 1}}</span>
			<span *ngIf="defect.status==3" class="dot" style="background-color:green;">{{defect.severity + 1}}</span>
			{{defect?.name}}
		</li>
	</ul>

</div>

<ng-template #showNoDefects>
	<p style="margin-left:2em;">Er zijn geen defecten gevonden voor dit lokaal.</p>
</ng-template>


<div style="float: right; width:60%;" *ngIf="selectedDefect">
	<h2 style="padding-left:0px;">Details:</h2>
	<div>
		
		<div style="margin-bottom: 8px;"><span><strong>Titel:</strong> {{ selectedDefect.name }}</span></div>
		
		<div style="margin-bottom: 8px;"><span><strong>Laatst gewijzigd op:</strong> 
			{{ selectedDefect.last_edited | date : "dd-MM-yyyy, HH:mm:ss" }}			<!--.seconds * 1000 for timestamp -->
		</span>
		</div>
		
		<div style="margin-bottom: 8px;"><span><strong>Laatst gewijzigd door: </strong> 
			<span *ngIf="lastEditor; else showNoLastEditor">{{ lastEditor.display_name }}</span>
			<ng-template #showNoLastEditor>geen gebruiker gevonden</ng-template></span>
		</div>
		
		<div>
			<label><strong>Omschrijving:</strong></label>
				<!--<input [(ngModel)]="selectedDefect.description" placeholder="omschrijving">-->
				<textarea [(ngModel)]="selectedDefect.description" placeholder="omschrijving" name="description" style="width: 95%; height: auto;" rows="8"></textarea>
		</div>
		
		<div>
			<label><strong>Status:</strong>
				<select [(ngModel)]="selectedDefect.status" placeholder="1" (ngModelChange)="dataChanged()">
					<option value=1>nog niet in behandeling</option>
					<option value=2>in behandeling</option>
					<option value=3>opgelost</option>
				</select>
			</label>
		</div>
		
		<div>
			<label><strong>Prioriteit:</strong>
				<select [(ngModel)]="selectedDefect.severity" placeholder="1" (ngModelChange)="dataChanged()">
					<option value=0>1</option>
					<option value=1>2</option>
					<option value=2>3</option>
					<option value=3>4</option>
					<option value=4>5</option>
				</select>
			</label>
		</div>
		
		<div>
			<label><strong>Reparatiedatum:</strong>
				<input type="date" [(ngModel)]="selectedDefect.repair_date_string" placeholder="dd/mm/jj">
			</label>
		</div>
		
		<div>
			<label><strong>Bevoegd persoon:</strong>
				<input [(ngModel)]="selectedDefect.responsible_person" placeholder="bevoegd persoon">
			</label>
		</div>
		
		<div>
			<label><strong>Bevoegde instelling:</strong>
				<select [(ngModel)]="selectedDefect.responsible_instance">
					<option value="AP">AP</option>
					<option value="Provincie">Provincie</option>
				</select>
			</label>
		</div>
		
		<div>
			<label><strong>Extra info:</strong>
				<input [(ngModel)]="selectedDefect.extra_note" placeholder="extra info">
			</label>
		</div>
	
		<button (click)="save()">Opslaan</button><br/>
		<ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
	
	</div>
</div>