<div style="float:left;width:35%;">
	
	<button (click)="goBack()">vorige pagina</button>
	<br/>

	<h2>Defecten voor: {{ place?.name }}</h2>
	<ul class="defects" *ngIf="defects; else showNoDefects">
		<li *ngFor="let defect of defects"(click)="onSelect(defect)">
			<span class="badge">{{defect?.name}}</span>
		</li>
	</ul>

</div>

<ng-template #showNoDefects>
	<p>er zijn geen defecten voor dit lokaal</p>
</ng-template>


<div style="float: right; width:60%;">
	<h2>Details</h2>
	<div *ngIf="selectedDefect">
		
		<div style="margin-bottom: 8px;"><span>name: </span>{{ selectedDefect.name }}</div>
		<div style="margin-bottom: 8px;"><span>laatst gewijzigd op: </span>{{ selectedDefect.last_edited.seconds * 1000 | date : "dd-MM-yyyy" }}</div>
		<div style="margin-bottom: 8px;"><span>laatst gewijzigd door: </span>
			<p *ngIf="lastEditor; else showNoLastEditor">{{ lastEditor.display_name }}</p>
			<ng-template #showNoLastEditor>geen user gevonden</ng-template>
		</div>
		<div>
			<label>omschrijving:
				<input [(ngModel)]="selectedDefect.description" placeholder="omschrijving">
			</label>
		</div>
		<div>
			<label>status:
				<select [(ngModel)]="selectedDefect.status" placeholder="1">
					<option value=1>nog niet in behandeling</option>
					<option value=2>in behandeling</option>
					<option value=3>opgelost</option>
				</select>
			</label>
		</div>
		<div>
			<label>severity:
				<select [(ngModel)]="selectedDefect.severity" placeholder="1">
					<option value=1>1</option>
					<option value=2>2</option>
					<option value=3>3</option>
					<option value=4>4</option>
					<option value=5>5</option>
				</select>
			</label>
		</div>
		<div>
			<label>reparatie datum:
				<input type="date" [(ngModel)]="selectedDefect.repair_date" placeholder="dd/mm/jj">
			</label>
		</div>
		<div>
			<label>bevoegd persoon:
				<input [(ngModel)]="selectedDefect.responsible_person" placeholder="bevoegd persoon">
			</label>
		</div>
		<div>
			<label>bevoegde instelling:
				<select [(ngModel)]="selectedDefect.responsible_instance">
					<option value="AP">AP</option>
					<option value="Provincie">Provincie</option>
				</select>
			</label>
		</div>
		<div>
			<label>extra info:
				<input [(ngModel)]="selectedDefect.extra_note" placeholder="extra info">
			</label>
		</div>
	
		<button (click)="save()">save</button><br/>
		<ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
	
	</div>
</div>