<div style="float:left;width:35%;">
	
	<br/>

	<h2>Gebruikers:</h2>
	<ul class="users" *ngIf="users">
		<li *ngFor="let user of users" [class.active]="user === selectedUser" (click)="onSelect(user)">
			{{user?.email}}
		</li>
	</ul>

</div>

<div style="float: right; width:60%;" *ngIf="selectedUser">
	<h2 style="padding-left:0px;">Details:</h2>
	<div>
		
		<div style="margin-bottom: 8px;"><span><strong>Voornaam:</strong> {{ selectedUser.first_name }}</span></div>
		<div style="margin-bottom: 8px;"><span><strong>Achternaam:</strong> {{ selectedUser.last_name }}</span></div>
		<div style="margin-bottom: 8px;"><span><strong>E-mail:</strong> {{ selectedUser.email }}</span></div>
		<div style="margin-bottom: 8px;"><span><strong>Id:</strong> {{ selectedUser.uid }}</span></div>
		<div style="margin-bottom: 8px;"><span><strong>Naam (enkel admin):</strong> {{ selectedUser.display_name }}</span></div>
		<div style="margin-bottom: 8px;"><span><strong>Rol:</strong> {{ selectedUser.role }}</span></div>
		<div>
			<label><strong>actief:</strong>
				<select [(ngModel)]="selectedUser.active">
					<option value=true>ja</option>
					<option value=false>nee</option>
				</select>
			</label>
		</div>	
		<div>
			<label><strong>admin:</strong>
				<select [(ngModel)]="selectedUser.admin">
					<option value=true>ja</option>
					<option value=false>nee</option>
				</select>
			</label>
		</div>	
		<button (click)="save()">Opslaan</button>
	</div>
</div>