<div style="float:left;width:25em;">
	<h1 routerLink="/places">{{title}}</h1>
</div>

<div style="float:right;width:28em;margin-top:26px;" *ngIf="afAuth.user | async as user; else showLogin">
	<p style="width:9em;float:left;">Hallo {{ user.displayName }}!</p>
	<button routerLink="/userInfo" style="width:6em;float:left;">User info</button>
	<button (click)="logout()" style="width:6em;float:left;">Log uit</button>
</div>

<ng-template #showLogin>
	<button routerLink="/authentication" style="width:5em;float:right">Log in</button>
</ng-template>

<br/>
<div style="float:left; width:100%;">
	<router-outlet></router-outlet>
</div>