/* Application-wide Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  padding-left: 1em;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  padding-left: 1em;
}

body {
	margin:0px;
	padding:0px;
}

body, input[type="text"], button {
  color: #888;
  font-family: Arial, Cambria, Georgia;
}

p, a, li{
	display: block;
	height:100%;
	color:black;
	text-decoration:none;
}

span, label {
	color:black;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

input, select {
  width: calc(100% - 50px);
  height: 18px;
  margin-bottom: 8px;
  margin-left: 10px;
}

input {
	width: calc(100% - 54px);
}

button {
	width: calc(100% - 50px);
	height: 2em;
	margin-bottom: 8px;
	margin-left: 10px;
	margin-right: 10px;
}

.authentication{
	margin-left: 40px;
	width: calc(100% - 80px);
}

input.authentication{
	width: calc(100% - 4px);
	margin-left: 0px;
	margin-top: 5px;
}

*:focus {
	outline:0; /* removes blue border */
}

li {
	height: 24px;
	list-style-type:none;
	border-bottom: 1px solid grey;
	margin-right: 40px;
}

.dot {
	margin-top: 4px;
	height: 18px;
	width: 18px;
	color: white;
	text-align: center;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}

li:hover, a:hover {
	background-color: #e60000;
	color: white;
	border-bottom-color: black;
}

li.active {
	background-color: #e60000;
	color: white;
	border-bottom-color: black;
}

button.menu {
	width: 6em;
	height: 54px;
	float: right;
	margin: 0px;
	padding: 0px;
	color: white;
	background-color: #e60000;
	border: 0;
	border-left: 1px solid black;
}

button.menu:hover {
	background-color: white;
	color: black;
}

p.menu {
	float: left;
	width: 9em;
	color: white;
	text-align: center;
}

h1.menu {
	float: left;
	color: white;
	margin:0px;
}

div.menu {
	background-color: #e60000;
	float: left;
	margin:0px;
	padding:0px;
	width: 100%;
}
