<div *ngIf="afAuth.user | async as user; else showLogin">
	<h1 class="authentication">Hallo {{ user.displayName }}, u bent al ingelogd.</h1>
	<button class="authentication" routerLink="/places">ga naar plaatsen</button>
</div>

<ng-template #showLogin>
	<div class="authentication">
		<label>e-mail:
			<input class="authentication" type="email" [(ngModel)]="email" placeholder="user@email.com"/>
		</label>
	</div>
	<div class="authentication">
		<label>passwoord:
			<input class="authentication" type="password" [(ngModel)]="password" placeholder="passwoord"/>
		</label>
	</div>
	<br/>
	<button class="authentication" (click)="login()">Login</button>
	<button class="authentication" (click)="loginGoogle()">Login with Google</button>
</ng-template>