<div *ngIf="afAuth.user | async as user; else showLogin">
	<h1 class="authentication">Hallo {{ user.displayName }}, u bent al ingelogd.</h1>
	<button class="authentication" routerLink="/places">ga naar plaatsen</button>
</div>

<ng-template #showLogin>
	<div class="authentication">
		<label>E-mail:
			<input class="authentication" type="email" [(ngModel)]="email" placeholder="gebruiker@e-mail.com"/>
		</label>
	</div>
	<div class="authentication">
		<label>Wachtwoord:
			<input class="authentication" type="password" [(ngModel)]="password" placeholder="wachtwoord"/>
		</label>
	</div>
	<br/>
	<button class="authentication" (click)="login()">Inloggen</button>
	<button class="authentication" (click)="loginGoogle()">Inloggen met Google</button>
</ng-template>